In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import sklearn.linear_model as sklm
from sklearn.model_selection import train_test_split
import os

In [32]:
df = pd.read_csv('train.csv')

In [33]:
df['Class'].value_counts()

Food                    2278
Attire                  1691
misc                    1271
Decorationandsignage     743
Name: Class, dtype: int64

In [34]:
df.head(10)

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire
5   image1106.jpg    misc
6   image6750.jpg    Food
7   image5508.jpg    Food
8   image9571.jpg    Food
9   image9613.jpg    Food

In [54]:
df['Image'].size

5983

In [ ]:
for i in range(5983):
    image = df['Image'][i]
    im1 = Image.open("Train Images/"+str(image))  
    if df['Class'][i]== 'Food':
        im1 = im1.save("data/train/Food/"+str(image))
    elif df['Class'][i]== 'Attire':
        im1 = im1.save("data/train/Attire/"+str(image))
    elif df['Class'][i]== 'misc':
        im1 = im1.save("data/train/misc/"+str(image))
    elif df['Class'][i]== 'Decorationandsignage':
        im1 = im1.save("data/train/Decorationandsignage/"+str(image))